<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Unicode Explorer - {% block title %}{% endblock %}</title>
    <link rel="canonical" href="https://unicode.flopp.net/">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.min.css">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('.static', filename='img/favicon.png') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
    <main class="wrapper">
        <nav class="navigation">
            <section class="container">
                <a class="navigation-title" href="https://unicode.flopp.net/">
                    <img class="img" src="{{ url_for('.static', filename='img/logo.svg') }}" height="30" alt="Unicode Explorer" title="Unicode Explorer"/>
                    <h1 class="title">Unicode Explorer</h1>
                </a>
            </section>
        </nav>
    
        <section class="content">
            {% block navigation %}{% endblock %}
            {% block content %}{% endblock %}
        </section>
    
        <footer class="footer">
            <div class="container">
                An experimental website by <a href="http://www.florian-pigorsch.de/">Florian Pigorsch</a>.
            </div>
        <footer>
    </main>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDomains", ["*.unicode.flopp.net"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//flopp.grus.uberspace.de/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '3']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//flopp.grus.uberspace.de/piwik/piwik.php?idsite=3" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

</body>
</html>
