<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Unicode Explorer - {% block title %}{% endblock %}</title>
    {% if self.canonical() %}<link rel="canonical" href="{{ config.BASE_URL }}{% block canonical %}{% endblock %}" />{% endif %}
    {% if config.GOOGLE_SITE_VERIFICATION %}{{ config.GOOGLE_SITE_VERIFICATION|safe }}{% endif %}
    {% if config.BING_SITE_VERIFICATION %}{{ config.BING_SITE_VERIFICATION|safe }}{% endif %}
    {% if config.YANDEX_SITE_VERIFICATION %}{{ config.YANDEX_SITE_VERIFICATION|safe }}{% endif %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.min.css">
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('.static', filename='img/favicon.png') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="theme-color" content="#9b4dca">
</head>
{% import 'macros.html' as macros %}
<body>
    <main class="wrapper">
        <nav class="navigation">
            <section class="container">
                <a class="navigation-title" href="/">
                    <img class="img" src="{{ url_for('.static', filename='img/logo.svg') }}" height="30" alt="Unicode Explorer" title="Unicode Explorer"/>
                    <h1 class="title">Unicode Explorer</h1>
                </a>
                <form action="/search" method="POST" class="search-form float-right" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction" onsubmit="_paq.push(['trackSiteSearch', document.getElementsByClassName('search-input')[0].value]);">
                    <meta itemprop="target" content="{ config.BASE_URL }}/search?q={search_term_string}"/>
                    <input type="text" placeholder="Search" name="q" class="search-input" itemprop="query-input" name="search_term_string" required>
                    <input type="submit" name="search-form" style="display: none;" value="Search">
                </form>
            </section>
        </nav>
    
        <section class="content">
            {% block navigation %}{% endblock %}
            {% block content %}{% endblock %}
        </section>
    
        <footer class="footer">
            <div class="container">
                An experimental website by <a href="https://www.florian-pigorsch.de/" alt="Florian Pigorsch" rel="author" target="_blank">Florian Pigorsch</a>. Source code at <a href="https://github.com/flopp/unicode-explorer" target="_blank">Github</a>.
            </div>
        <footer>
    </main>

    {% if config.PIWIK %} {{ config.PIWIK|safe }} {% endif %}
</body>
</html>
