{% extends "base.html" %}

{% block title %}{{ "U+{:04X}: {}".format(data.id, data.name) }}{% endblock %}
{% block canonical %}{{ "/c/{:04X}".format(data.id) }}{% endblock %}

{% block navigation %}
<section class="container clearfix">
{% if data.prev != None %}
<a class="button button-clear float-left" href="{{ "/c/{:04X}".format(data.prev.id) }}" rel="prev">◁ {{ "U+{:04X}".format(data.prev.id) }}</a>
{% endif %}
{% if data.next != None %}
<a class="button button-clear float-right" href="{{ "/c/{:04X}".format(data.next.id) }}" rel="next">{{ "U+{:04X}".format(data.next.id) }} ▷</a>
{% endif %}
</section>
{% endblock %}
   
    
{% block content %}
<section class="container">
<div class="char-big">{{ data.char }}</div>
<h2 class="title">{{ data.name }}</h2>

<table class>
<tr><th class="th">Code</th><td>{{ "U+{:04X}".format(data.id) }}</td></tr>
<tr><th class="th">Name</th><td>{{ data.name }}</td></tr>
<tr><th class="th">Block</th><td><a href="{{ "/b/{:04X}".format(data.block.id) }}">{{ data.block.name }}</a></td></tr>
{% if data.subblock != None %}
<tr><th class="th">Sub-Block</th><td>{{ data.subblock.name }}</td></tr>
{% endif %}
{% if data.alternate|length > 0 %}
<tr><th class="th">Alternate Name(s)</th><td>
{% for item in data.alternate %}{{ item }}<br />{% endfor %}
</td></tr>
{% endif %}
{% if data.comments|length > 0 %}
<tr><th class="th">Comments</th><td>
{% for item in data.comments %}{{ item }}<br />{% endfor %}
</td></tr>
{% endif %}
<tr><th class="th">Character Info (external)</th><td><a href="http://unicode.org/cldr/utility/character.jsp?a={{ "{:04X}".format(data.id) }}" target="_blank">http://unicode.org/cldr/utility/character.jsp?a={{ "{:04X}".format(data.id) }}</a></td></tr>
</table>

{{ macros.title_icon("Case Variant", data.case) }}
{{ macros.title_icons("Related Characters", data.related) }}
{{ macros.title_icons("Confusables (Look-Alike Characters)", data.confusables) }}

</section>
{% endblock %}
