{% macro char_icon(item) -%}
<a class="button button-outline btn-char" href="{{ item.url() }}" title="{{ "{}: {}".format(item.u_plus(), item.name()) }}">
    {{ item.get_string() }}
</a>
{%- endmacro %}

{% macro title_icon(title, item) -%}
{% if item != None %}
<h5 class="title">{{ title }}</h5>
<div>
    {{ char_icon(item) }}
</div>
{% endif %}
{%- endmacro %}

{% macro title_icons(title, items) -%}
{% if items|length > 0 %}
<h5 class="title">{{ title }}</h5>
<div>
{% for item in items %}
    {{ char_icon(item) }}
{% endfor %}
</div>
{% endif %}
{%- endmacro %}

