{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}

{% block content %}
<section class="container">
    <div class="banner">
        <img src="{{ url_for('.static', filename='img/logo.svg') }}" style="min-width: 50%; height: auto;" />
        <p>
            <b>Unicode Explorer</b> is a experimental website for exploring the complete range of <a href="https://www.unicode.org/" target="_blank">Unicode</a> characters.
        </p>
        <p>
            The source code is available on <a href="https://www.github.com/flopp/unicode-explorer" target="_blank">Github</a>.
        </p>
    </div>
</section>

<section class="container">
    <h5 class="title">Explore Random Characters</h5>
    <div>
        {% for item in data.chars %}
        <a class="button button-outline btn-char" href="{{ "c/{:04X}".format(item.id) }}" title="{{ "U+{:04X}: {}".format(item.id, item.name) }}">{{ item.char }}</a>
        {% endfor %}
    </div>
    <h5 class="title">Explore Blocks</h5>
    <div class="row">
        <div class="column">
            <ul>
            {% for item in data.blocks1 %}
            <li><a href="{{ "b/{:04X}".format(item.id) }}">{{ item.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="column">
            <ul>
            {% for item in data.blocks2 %}
            <li><a href="{{ "b/{:04X}".format(item.id) }}">{{ item.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}
