body {
        margin: 0;
    }
    
.wrapper {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.wrapper .container {
    max-width: 80.0rem;
}
.wrapper > .container {
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
}

.wrapper > .content {
        padding-bottom: 7.5rem;
        padding-top: 7.5rem;
    }

.navigation {
    left: 0;
    max-width: 100vw;
    max-width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
}
/* Re-overiding the width 100% declaration to match size of% based container */
.navigation .container {
    padding-bottom: 0;
    padding-top: 0;
}
.navigation {
    background: #f4f5f6;
    border-bottom: .1rem solid #d1d1d1;
    display: block;
    height: 5.2rem;
    width: 100%;
}

.navigation-title .img {
    height: 3.8rem;
    position: relative;
    top: .8rem;
}

.navigation-title {
    color: #606c76;
    display: inline;
    font-family: 'Gotham Rounded A', 'Gotham Rounded B', 'Helvetica Neue', Arial, sans-serif;
    line-height: 5.2rem;
    padding: 0;
    position: relative;
    text-decoration: none;
}

.navigation-title .title {
    display: none;
    color: #606c76;
    font-size: 2.6rem;
    font-family: 'Gotham Rounded A', 'Gotham Rounded B', 'Helvetica Neue', Arial, sans-serif;
}
@media screen and (min-width: 60rem) {
    .navigation-title .title {
        display: inline;
    }
}

.search-form {
    line-height: 5.2rem;
    margin: 0;
    position: absolute;
    top: 0;
    left: 8rem;
    right: 1rem;   
}
@media screen and (min-width: 60rem) {
    .search-form {
        left: 27rem;
    }
}

.search-input {
    background: white;
    width: 100%;
    margin: 0;
}

.banner {
    background: #f4f5f6;
    display: block;
    width: 100%;
    text-align: center;
    padding: 5rem;
}
    
.char-big {
    background-color: #fff;
    border: .1rem solid #9b4dca;
    border-radius: .4rem;
    display: inline-block;
    font-family: 'Noto Sans script=all'; 
    font-size: 100px;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}
.btn-char {
    font-family: 'Noto Sans script=all'; 
    font-size: 50px;
    font-weight: 100;
    width: 88px;
    height: 88px;
    text-align: center;
    line-height: 80px;
    margin: 4px;
    padding: 4px;
    text-transform: none;
    white-space: nowrap;
    overflow: hidden;
}
.emoji {
    width: 44px;
    height: 44px;
}
.th {
    width: 8em;
}

.input-group {
    display: table;
    width: 90%;
}
.input-group input {
    display: table-cell;
    position: relative;
    width: 100%;
    vertical-align: middle;
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group .input-group-button {
    display: table-cell;
    width: 1%;
    vertical-align: middle;
}
.input-group button {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
