{% extends "base.html" %}

{% block title %}Block: {{ data.block.name() }}{% endblock %}
{% block canonical %}{{ data.block.url() }}{% endblock %}

{% block navigation %}
<section class="container clearfix">
{% if data.prev != None %}
<a class="button button-clear float-left" href="{{ data.prev.url() }}" rel="prev">◁ {{ data.prev.name() }}</a>
{% endif %}
{% if data.next != None %}
<a class="button button-clear float-right" href="{{ data.next.url() }}" rel="next">{{ data.next.name() }} ▷</a>
{% endif %}
</section>
{% endblock %}

{% block content %}
<section class="container">
<h2 class="title">Block: {{ data.block.name() }}</h2>

<table>
    <tr>
        <th class="th">Range</th>
        <td><a href="/c/{{ "{:04X}".format(data.block.from_codepoint()) }}">{{ "U+{:04X}".format(data.block.from_codepoint()) }}</a> - <a href="/c/{{ "{:04X}".format(data.block.to_codepoint()) }}">{{ "U+{:04X}".format(data.block.to_codepoint()) }}</a></td>
    </tr>
    <tr>
        <th class="th">Official Chart</th>
        <td><a href="https://www.unicode.org/charts/PDF/{{ "U{:04X}".format(data.block.block_id()) }}.pdf" target="_blank">https://www.unicode.org/charts/PDF/{{ "U{:04X}".format(data.block.block_id()) }}.pdf</a></td>
    </tr>
    {% if data.wikipedia %}
    <tr>
        <th class="th">Wikipedia</th>
        <td>
            {% if data.block.wikipedia_summary|length > 0 %}{{ data.block.wikipedia_summary|safe }}<br />{% endif %}
            <a href="{{ data.block.wikipedia }}" target="_blank">{{ data.block.wikipedia }}</a>
        </td>
    </tr>
    {% endif %}
</table>

{{ macros.title_icons("Characters", data.chars) }}
</section>
{% endblock %}
